<!DOCTYPE html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  {% block content %}
    {% if name == '100mm' %}
      <div class="hero-image2">
      <div class="hero-text">
        <center><h1>Object 277 - Soviet(Russian)</h1>
          <h2>Soviet Heavy Tank</h2>
        </center>
      </div>
      </div>
    {% elif name == '37mm' %}
      <div class="hero-image3">
      <div class="hero-text">
        <center><h1>Challenger 2 - British</h1>
          <h2>British Main Battle Tank</h2>
        </center>
      </div>
      </div>
    {% elif name == '152mm' %}
      <div class="hero-image4">
      <div class="hero-text">
        <center><h1>Maus - German</h1>
        <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == '2cm' %}
      <div class="hero-image5">
      <div class="hero-text">
        <center><h1>Tiger - German </h1>
          <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == '105mm' %}
      <div class="hero-image5">
      <div class="hero-text">
        <center><h1>Tiger - German </h1>
          <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == '90mm' %}
      <div class="hero-image5">
      <div class="hero-text">
        <center><h1>Tiger - German </h1>
          <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == '130mm' %}
      <div class="hero-image5">
      <div class="hero-text">
        <center><h1>Tiger - German </h1>
          <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == '120mm' %}
      <div class="hero-image5">
      <div class="hero-text">
        <center><h1>Tiger - German </h1>
          <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == '12.8cm' %}
      <div class="hero-image5">
      <div class="hero-text">
        <center><h1>Tiger - German </h1>
          <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == '8.8cm' %}
      <div class="hero-image5">
      <div class="hero-text">
        <center><h1>Tiger - German </h1>
          <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == '32-pdr' %}
      <div class="hero-image5">
      <div class="hero-text">
        <center><h1>Tiger - German </h1>
          <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == '76mm' %}
      <div class="hero-image5">
      <div class="hero-text">
        <center><h1>Tiger - German </h1>
          <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == '' %}
    <div class="hero-image19">
    <div class="hero-text">
      <center><h1>All Heavy Tanks </h1>
        <h2>All Listed Heavy Tanks</h2>
     </center>
    </div>
    </div>
    {% endif %}
  {% endblock %}§
</body>
</html>
