<!DOCTYPE html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  {% block content %}
    {% if name == '100mm' %}
      <div class="hero-image29">
      <div class="hero-text">
        <center><h1>The 100mm Gun</h1>
          <h2>Tanks with 100mm Guns</h2>
        </center>
      </div>
      </div>
    {% elif name == '37mm' %}
      <div class="hero-image30">
      <div class="hero-text">
        <center><h1>The 37mm Gun</h1>
          <h2>Tanks with 37mm Guns</h2>
        </center>
      </div>
      </div>
    {% elif name == '152mm' %}
      <div class="hero-image31">
      <div class="hero-text">
        <center><h1>The 152mm Launchers</h1>
        <h2>Tanks with 152mm Launchers</h2>
       </center>
      </div>
      </div>
    {% elif name == '2cm' %}
      <div class="hero-image32">
      <div class="hero-text">
        <center><h1>The 2cm Machine Guns</h1>
          <h2>Tanks with 2cm Machine guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '105mm' %}
      <div class="hero-image33">
      <div class="hero-text">
        <center><h1>The 105mm Gun</h1>
          <h2>Tanks with 105mm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '90mm' %}
      <div class="hero-image34">
      <div class="hero-text">
        <center><h1>The 90mm Gun</h1>
          <h2>Tanks with 90mm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '130mm' %}
      <div class="hero-image35">
      <div class="hero-text">
        <center><h1>The 130mm Gun </h1>
          <h2>Tanks with 130mm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '120mm' %}
      <div class="hero-image36">
      <div class="hero-text">
        <center><h1>The 120mm Gun</h1>
          <h2>Tanks with 120mm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '12.8cm' %}
      <div class="hero-image37">
      <div class="hero-text">
        <center><h1>The 12.8cm Gun</h1>
          <h2>Tanks with 12.8cm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '8.8cm' %}
      <div class="hero-image38">
      <div class="hero-text">
        <center><h1>The 8.8cm Gun</h1>
          <h2>Tanks with 8.8cm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '32-pdr' %}
      <div class="hero-image39">
      <div class="hero-text">
        <center><h1>The 32-pdr Gun</h1>
          <h2>Tanks with 32-pdr Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '76mm' %}
      <div class="hero-image40">
      <div class="hero-text">
        <center><h1>The 76mm Gun </h1>
          <h2>Tanks with 76mm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '' %}
    <div class="hero-image41">
    <div class="hero-text">
      <center><h1>Tanks by Gun Caliber </h1>
        <h2>All Listed Tanks by Gun Caliber</h2>
     </center>
    </div>
    </div>
    {% endif %}
  {% endblock %}
  <div class="navbar">
    <a href="/"><img src="http://www.wyelearn.co.uk/img/homeGen.png" width="20" height="20"> </a>
  <div class="dropdown">
    <button class="dropbtn">Light Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/lighttank/t-100lt">T-100 LT <img src="https://img1.cgtrader.com/items/107300/1abbecbec7/large/soviet-star-3d-model-max-obj-ma-mb.jpg" width="20" height="20"></a>
      <a href="/lighttank/m3stuart">M3 Stuart <img src="https://spot86.com/dev/wp-content/uploads/2015/10/us-vintage-army-star-T-Shirts.jpg" width="20" height="20"></a>
      <a href="/lighttank/sheridan">Sheridan <img src="https://spot86.com/dev/wp-content/uploads/2015/10/us-vintage-army-star-T-Shirts.jpg" width="20" height="20"></a>
      <a href="/lighttank/panzerii">Panzer II <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Regulation_WW_II_Upperwing_Balkenkreuz.png/150px-Regulation_WW_II_Upperwing_Balkenkreuz.png" width="20" height="20"></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Medium Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/mediumtank/object140">Object 140 <img src="https://img1.cgtrader.com/items/107300/1abbecbec7/large/soviet-star-3d-model-max-obj-ma-mb.jpg" width="20" height="20"></a>
      <a href="/mediumtank/centurionactionx">Centurion Action X <img src="  http://sites1.christophlutz.co.uk/gbmag/wp-content/uploads/2017/01/UK-flag-union-jack-1024x683.jpg" width="20" height="20"></a>
      <a href="/mediumtank/t-54">T-54 <img src="https://img1.cgtrader.com/items/107300/1abbecbec7/large/soviet-star-3d-model-max-obj-ma-mb.jpg" width="20" height="20"></a>
      <a href="/mediumtank/m26pershing">M26 Pershing <img src="https://spot86.com/dev/wp-content/uploads/2015/10/us-vintage-army-star-T-Shirts.jpg" width="20" height="20"></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Heavy Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/heavytank/object277">Object 277 <img src="https://img1.cgtrader.com/items/107300/1abbecbec7/large/soviet-star-3d-model-max-obj-ma-mb.jpg" width="20" height="20"></a>
      <a href="/heavytank/challenger2">Challenger 2 <img src="  http://sites1.christophlutz.co.uk/gbmag/wp-content/uploads/2017/01/UK-flag-union-jack-1024x683.jpg" width="20" height="20"></a>
      <a href="/heavytank/maus">Maus <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Regulation_WW_II_Upperwing_Balkenkreuz.png/150px-Regulation_WW_II_Upperwing_Balkenkreuz.png" width="20" height="20"></a>
      <a href="/heavytank/tiger">Tiger <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Regulation_WW_II_Upperwing_Balkenkreuz.png/150px-Regulation_WW_II_Upperwing_Balkenkreuz.png" width="20" height="20"></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Tank Destroyers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/tankdestroyers/jagdtiger">JagdTiger <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Regulation_WW_II_Upperwing_Balkenkreuz.png/150px-Regulation_WW_II_Upperwing_Balkenkreuz.png" width="20" height="20"></a>
      <a href="/tankdestroyers/strvs1">Strv S1<img src="https://upload.wikimedia.org/wikipedia/en/4/4c/Flag_of_Sweden.svg" width="20" height="20"></a>
      <a href="/tankdestroyers/churchillguncarrier">Churchill Gun Carrier <img src="http://sites1.christophlutz.co.uk/gbmag/wp-content/uploads/2017/01/UK-flag-union-jack-1024x683.jpg" width="20" height="20"></a>
      <a href="/tankdestroyers/hellcat">Hellcat <img src="https://spot86.com/dev/wp-content/uploads/2015/10/us-vintage-army-star-T-Shirts.jpg" width="20" height="20"></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Nations
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/nations/german">German <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Regulation_WW_II_Upperwing_Balkenkreuz.png/150px-Regulation_WW_II_Upperwing_Balkenkreuz.png" width="20" height="20"></a>
      <a href="/nations/russian">Soviet(Russian)<img src="https://img1.cgtrader.com/items/107300/1abbecbec7/large/soviet-star-3d-model-max-obj-ma-mb.jpg" width="20" height="20"></a>
      <a href="/nations/british">British<img src="http://sites1.christophlutz.co.uk/gbmag/wp-content/uploads/2017/01/UK-flag-union-jack-1024x683.jpg" width="20" height="20"></a>
      <a href="/nations/american">American <img src="https://spot86.com/dev/wp-content/uploads/2015/10/us-vintage-army-star-T-Shirts.jpg" width="20" height="20"></a>
      <a href="/nations/swedish">Swedish <img src="https://upload.wikimedia.org/wikipedia/en/4/4c/Flag_of_Sweden.svg" width="20" height="20"></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Gun Calibers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/caliber/100mm">100m <img src="http://www.yugoimport.com/sites/default/files/1_19.jpg" width="20" height="20"></a>
      <a href="/caliber/37mm">37mm<img src="https://thumbs.worthpoint.com/zoom/images1/1/1007/03/ww-ii-u-s-37mm-anti-tank-shell_1_c96052340f36f71467f8022cdc1c8f22.jpg" width="20" height="20"></a>
      <a href="/caliber/152mm">152mm<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm7SY5SV2KtjH1EH6v3tBsAT4fwYZchVWOMt4tenn0oZTRBb42" width="20" height="20"></a>
      <a href="/caliber/2cm">2cm <img src="http://img.bidorbuy.co.za/image/upload/user_images/755/1700755/1700755_151015143802_DSCF0339.JPG" width="20" height="20"></a>
      <a href="/caliber/105mm">105mm <img src="https://www.gd-otscanada.com/wp-content/uploads/LCA_105mmTanks_C109A1.jpg" width="20" height="20"></a>
      <a href="/caliber/90mm">90mm <img src="http://www.deactivated-guns.co.uk/images/uploads/90mmSHELL/19shellUS-052617.jpg" width="20" height="20"></a>
      <a href="/caliber/130mm">130mm<img src="http://www.armaco.bg/userfiles/images/ARMASAR100HIPF.png" width="20" height="20"></a>
      <a href="/caliber/120mm">120mm<img src="http://www.globalsecurity.org/military/systems/munitions/images/M829a2.jpg" width="20" height="20"></a>
      <a href="/caliber/12.8cm">12.8cm <img src="http://www.warrelics.eu/forum/attachments/ordnance-ammo/1139799d1512921992-12-8cm-flak-40-shell-p1040696.jpg" width="20" height="20"></a>
      <a href="/caliber/8.8cm">8.8cm <img src="http://store.technoframes.com/wp-content/uploads/2014/05/FLAK-88.jpg" width="20" height="20"></a>
      <a href="/caliber/32-pdr">32-pdr <img src="https://d1k5w7mbrh6vq5.cloudfront.net/images/cache/6b/a0/1b/6ba01b984d3f718fe799601766dbad21.jpg" width="20" height="20"></a>
      <a href="/caliber/76mm">76mm <img src="http://www.deactivated-guns.co.uk/images/uploads/76mmT/76MM-048624.jpg" width="20" height="20"></a>
    </div>
  </div>
 </div>
   {% if name == '100mm' %}
     <div class="w3-main" style="margin-left:0px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
        <h1> Soviet(Russian)</h1>
        <img src="https://i.ytimg.com/vi/fmeDdCMzns0/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/lighttank/t-100lt'" width="320" height="300">
        <h1>T-100LT - 100mm</h1>
      </div>
      <div class="w3-third">
        <h1> Soviet(Russian)</h1>
        <img src="https://i.ytimg.com/vi/ev_BsaoArsU/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/object140'" width="320" height="300">
        <h1>Object 140 - 100mm U-8TS</h1>
      </div>
      <div class="w3-third">
        <h1> Soviet(Russian)</h1>
        <img src="https://i.ytimg.com/vi/iDjKNmizfUY/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/t-54'" width="320" height="300">
        <h1>T-54 - 100mm D-10T Rifled Gun</h1>
      </div>
    </div>
   </div>
   {% elif name == '37mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>American</h1>
       <img src="https://i.ytimg.com/vi/s8CgIxGAJTM/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/lighttank/m3stuart'" width="320" height="300">
       <h1>M3 Stuart - 37mm Gun M6</h1>
     </div>
    </div>
   </div>
   {% elif name == '152mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>American</h1>
       <img src="https://armyhistory.org/wp-content/uploads/2015/01/DA-SC-98-030351-1024x662.jpg" style="width:100%" onclick="window.location.href= '/lighttank/sheridan'" width="320" height="300">
       <h1>Sheridan - M81E1 Rifled 152mm Launcher</h1>
     </div>
    </div>
   </div>
   {% elif name == '2cm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>German</h1>
       <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Sd_Kfz_121_Panzerkampfwagen_II_Ausf_F_%28Panzer_II%29_%284536135405%29.jpg" style="width:100%" onclick="window.location.href= '/lighttank/panzerii'" width="320" height="300">
       <h1>Panzer II - 2cm KwK 38</h1>
     </div>
    </div>
   </div>
   {% elif name == '105mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>British</h1>
       <img src="https://i.ytimg.com/vi/PLO1q4VbC24/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/centurionactionx'" width="320" height="300">
       <h1>Centurian Action X - 105mm L7A2</h1>
     </div>
     <div class="w3-third">
      <h1>Swedish</h1>
      <img src="https://i.ytimg.com/vi/Eal7XU0cABA/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/strvs1'" width="320" height="300">
      <h1>Strv S1 - 10.5cm kan strv 103 L/51</h1>
    </div>
    </div>
   </div>
   {% elif name == '90mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>American</h1>
       <img src="https://i.ytimg.com/vi/iKW-W8im-2U/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/m26pershing'" width="320" height="300">
       <h1>M26 Pershing - 90mm Gun M3</h1>
     </div>
    </div>
   </div>
   {% elif name == '130mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>Soviet(Russian)</h1>
       <img src="https://i.ytimg.com/vi/vEoeAVXgJS4/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/heavytank/object277'" width="320" height="300">
       <h1>Object 277 - 130mm M-65</h1>
     </div>
    </div>
   </div>
   {% elif name == '120mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>British</h1>
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Challenger_2_Main_Battle_Tank_patrolling_outside_Basra%2C_Iraq_MOD_45148325.jpg/1200px-Challenger_2_Main_Battle_Tank_patrolling_outside_Basra%2C_Iraq_MOD_45148325.jpg" style="width:100%" onclick="window.location.href= '/heavytank/challenger2'" width="300" height="300">
       <h1>Challenger 2 L30A1 Rifled Gun</h1>
     </div>
    </div>
   </div>
   {% elif name == '12.8cm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>German</h1>
       <img src="https://i.ytimg.com/vi/ntgMWbtwCec/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/heavytank/maus'" width="300" height="300">
       <h1>Maus - 12.8cm KwK 44 Gun L/55</h1>
     </div>
     <div class="w3-third">
      <h1>German</h1>
      <img src="https://i.ytimg.com/vi/ih6xHTrGUsc/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/jagdtiger'" width="300" height="300">
      <h1>JadgTiger - 12.8cm PaK 44 L/56</h1>
    </div>
   </div>
  </div>
   {% elif name == '8.8cm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>German</h1>
       <img src="http://www.therookies.co/media/reviews/photos/original/e7/22/79/john-olofinskiy-tiger-tank-study-29-1523524781.jpg" style="width:100%" onclick="window.location.href= '/heavytank/tiger'" width="300" height="300">
       <h1>Tiger - 8.8cm KwK 36 L/56</h1>
     </div>
    </div>
   </div>
   {% elif name == '32-pdr' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>British</h1>
       <img src="https://i.ytimg.com/vi/P16by37lPOU/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/churchillguncarrier'" width="300" height="300">
       <h1>Churchil Gun Carrier - QQF 32-pdr AT</h1>
     </div>
    </div>
   </div>
   {% elif name == '76mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>American</h1>
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/M18_hellcat_side.jpg/1200px-M18_hellcat_side.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/hellcat'" width="300" height="300">
       <h1>Hellcat - 76mm gun M1A1</h1>
     </div>
    </div>
   </div>
   {% elif name == '' %}
   <div class="w3-main" style="margin-left:0px">
   <div class="w3-hide-large" style="margin-top:150px"></div>
   <div class="w3-row">
    <div class="w3-third">
      <h2> Soviet(Russian)</h2>
      <img src="https://i.ytimg.com/vi/fmeDdCMzns0/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/lighttank/t-100lt'" width="320" height="300">
      <h2>T-100LT - 100mm</h2>
    </div>
    <h1> Tanks with 100mm Guns</h1>
      <div class="w3-third">
        <h2> Soviet(Russian)</h2>
        <img src="https://i.ytimg.com/vi/ev_BsaoArsU/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/object140'" width="320" height="300">
        <h2>Object 140 - 100mm U-8TS</h2>
    </div>
    <div class="w3-third">
      <h2> Soviet(Russian)</h2>
      <img src="https://i.ytimg.com/vi/iDjKNmizfUY/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/t-54'" width="320" height="300">
      <h2>T-54 - 100mm D-10T</h2>
    </div>
  </div>






      <br></br>
      <h1>Tanks with 37mm Guns </h1>
      <div class="break"></div>
      <h2>American</h2>
      <img src="https://i.ytimg.com/vi/s8CgIxGAJTM/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/lighttank/m3stuart'" width="320" height="300">
      <h2>M3 Stuart - 37mm Gun M6</h2>
      <br></br>
      <h1>Tanks with 105mm Guns </h1>
      <div class="break"></div>
      <h2>British</h2>
      <img src="https://i.ytimg.com/vi/PLO1q4VbC24/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/centurionactionx'" width="320" height="300">
      <h2>Centurian Action X - 105mm L7A2</h2>
      <br></br>
      <h1>Tanks with 130mm Guns </h1>
      <div class="break"></div>
      <h2>Soviet(Russian)</h2>
      <img src="https://i.ytimg.com/vi/vEoeAVXgJS4/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/heavytank/object277'" width="320" height="300">
      <h2>Object 277 - 130mm M-65</h2>
      <br></br>
      <h1>Tanks with 12.8cm Guns </h1>
      <div class="break"></div>
      <h2>German</h2>
      <img src="https://i.ytimg.com/vi/ntgMWbtwCec/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/heavytank/maus'" width="300" height="300">
      <h2>Maus - 12.8cm KwK 44 Gun L/55</h2>
      <br></br>
      <h1>Tanks with 32-pdr Guns </h1>
      <div class="break"></div>
      <h2>British</h2>
      <img src="https://i.ytimg.com/vi/P16by37lPOU/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/churchillguncarrier'" width="300" height="300">
      <h2>Churchil Gun Carrier - QQF 32-pdr AT</h2>
   </div>

      <br></br>
      <h1>Tanks with 152 Launchers </h1>
      <div class="break"></div>
      <h2>American</h2>
      <img src="https://armyhistory.org/wp-content/uploads/2015/01/DA-SC-98-030351-1024x662.jpg" style="width:100%" onclick="window.location.href= '/lighttank/sheridan'" width="320" height="300">
      <h2>Sheridan - M81E1 Rifled 152mm Launcher</h2>
      <br></br>
      <div class="break"></div>
      <h2>Swedish</h2>
      <img src="https://i.ytimg.com/vi/Eal7XU0cABA/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/strvs1'" width="320" height="300">
      <h2>Strv S1 - 10.5cm kan strv 103 L/51</h2>
      <br></br>
      <h1>Tanks with 120mm Guns </h1>
      <div class="break"></div>
      <h2>British</h2>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Challenger_2_Main_Battle_Tank_patrolling_outside_Basra%2C_Iraq_MOD_45148325.jpg/1200px-Challenger_2_Main_Battle_Tank_patrolling_outside_Basra%2C_Iraq_MOD_45148325.jpg" style="width:100%" onclick="window.location.href= '/heavytank/challenger2'" width="300" height="300">
      <h2>Challenger 2 L30A1 Rifled Gun</h2>
      <br></br>
      <br></br>
      <div class="break"></div>
      <h2>German</h2>
      <img src="https://i.ytimg.com/vi/ih6xHTrGUsc/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/jagdtiger'" width="300" height="300">
      <h2>JadgTiger - 12.8cm PaK 44 L/56</h2>
    </div>
    <div class="w3-third">
      <br></br>
      <h1>Tanks with 2cm MachineGun</h1>
      <div class="break"></div>
      <h2>German</h2>
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Sd_Kfz_121_Panzerkampfwagen_II_Ausf_F_%28Panzer_II%29_%284536135405%29.jpg" style="width:100%" onclick="window.location.href= '/lighttank/panzerii'" width="320" height="300">
      <h2>Panzer II - 2cm KwK 38</h2>
      <br></br>
      <h1>Tanks with 90mm gun</h1>
      <div class="break"></div>
      <h2>American</h2>
      <img src="https://i.ytimg.com/vi/iKW-W8im-2U/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/m26pershing'" width="320" height="300">
      <h2>M26 Pershing - 90mm Gun M3</h2>
      <br></br>
      <h1>Tanks with 8.8cm Guns </h1>
      <div class="break"></div>
      <h2>German</h2>
      <img src="http://www.therookies.co/media/reviews/photos/original/e7/22/79/john-olofinskiy-tiger-tank-study-29-1523524781.jpg" style="width:100%" onclick="window.location.href= '/heavytank/tiger'" width="300" height="300">
      <h2>Tiger - 8.8cm KwK 36 L/56</h2>
      <br></br>
      <h1>Tanks with 76mm Guns </h1>
      <div class="break"></div>
      <h2>American</h2>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/M18_hellcat_side.jpg/1200px-M18_hellcat_side.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/hellcat'" width="300" height="300">
      <h2>Hellcat - 76mm gun M1A1</h2>
    </div>
  </div>
 </div>
   {% endif %}
</body>
</html>
