<!DOCTYPE html>
<head>
  <link rel="shortcut icon"  href="{{ url_for('static',filename='images/favicon.ico') }}"/>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<body bgcolor="#556B2F">
  {% block content %}
    {% if name == '100mm' %}
      <div class="hero-image29">
      <div class="hero-text">
        <center><h1>The 100mm Gun</h1>
          <h2>Tanks with 100mm Guns</h2>
        </center>
      </div>
      </div>
    {% elif name == '37mm' %}
      <div class="hero-image30">
      <div class="hero-text">
        <center><h1>The 37mm Gun</h1>
          <h2>Tanks with 37mm Guns</h2>
        </center>
      </div>
      </div>
    {% elif name == '152mm' %}
      <div class="hero-image31">
      <div class="hero-text">
        <center><h1>The 152mm Launchers</h1>
        <h2>Tanks with 152mm Launchers</h2>
       </center>
      </div>
      </div>
    {% elif name == '2cm' %}
      <div class="hero-image32">
      <div class="hero-text">
        <center><h1>The 2cm Machine Guns</h1>
          <h2>Tanks with 2cm Machine guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '105mm' %}
      <div class="hero-image33">
      <div class="hero-text">
        <center><h1>The 105mm Gun</h1>
          <h2>Tanks with 105mm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '90mm' %}
      <div class="hero-image34">
      <div class="hero-text">
        <center><h1>The 90mm Gun</h1>
          <h2>Tanks with 90mm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '130mm' %}
      <div class="hero-image35">
      <div class="hero-text">
        <center><h1>The 130mm Gun </h1>
          <h2>Tanks with 130mm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '120mm' %}
      <div class="hero-image36">
      <div class="hero-text">
        <center><h1>The 120mm Gun</h1>
          <h2>Tanks with 120mm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '12.8cm' %}
      <div class="hero-image37">
      <div class="hero-text">
        <center><h1>The 12.8cm Gun</h1>
          <h2>Tanks with 12.8cm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '8.8cm' %}
      <div class="hero-image38">
      <div class="hero-text">
        <center><h1>The 8.8cm Gun</h1>
          <h2>Tanks with 8.8cm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '32-pdr' %}
      <div class="hero-image39">
      <div class="hero-text">
        <center><h1>The 32-pdr Gun</h1>
          <h2>Tanks with 32-pdr Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '76mm' %}
      <div class="hero-image40">
      <div class="hero-text">
        <center><h1>The 76mm Gun </h1>
          <h2>Tanks with 76mm Guns</h2>
       </center>
      </div>
      </div>
    {% elif name == '' %}
      <div class="hero-image41">
      <div class="hero-text">
        <center><h1>Tanks by Gun Caliber </h1>
          <h2>All Listed Tanks by Gun Caliber</h2>
       </center>
      </div>
      </div>
    {% elif name == 'other' %}
      <div class="hero-image41">
      <div class="hero-text">
        <center><h3>Error 404: The Tank you have requested does not exist or cannot be found (Please use lowercase letters or check spelling) D: </h3>
          <h2>No Matter, you can now see on the Tank Gun Calibers Below</h2>
       </center>
      </div>
      </div>
    {% endif %}
  {% endblock %}
  <div class="navbar">
    <a href="/"><img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/home.png") }}></a>
  <div class="dropdown">
    <button class="dropbtn">Light Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/lighttank/t-100lt">T-100 LT <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/lighttank/m3stuart">M3 Stuart <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg") }}></a>
      <a href="/lighttank/sheridan">Sheridan <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
      <a href="/lighttank/panzerii">Panzer II <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Medium Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/mediumtank/object140">Object 140 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg") }}></a>
      <a href="/mediumtank/centurionactionx">Centurion Action X <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/mediumtank/t-54">T-54 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/mediumtank/m26pershing">M26 Pershing <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Heavy Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/heavytank/object277">Object 277 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/heavytank/challenger2">Challenger 2 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/heavytank/maus">Maus <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      <a href="/heavytank/tiger">Tiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Tank Destroyers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/tankdestroyers/jagdtiger">JagdTiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png") }}></a>
      <a href="/tankdestroyers/strvs1">Strv S1 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
      <a href="/tankdestroyers/churchillguncarrier">Churchill Gun Carrier <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/tankdestroyers/hellcat">Hellcat <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Nations
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/nations/german">German <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      <a href="/nations/russian">Soviet(Russian)<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/nations/british">British<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK Flag.png") }}></a>
      <a href="/nations/american">American <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/USA Flag.png") }}></a>
      <a href="/nations/swedish">Swedish <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Gun Calibers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/caliber/100mm">100m <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/100mm round.jpg")  }}></a>
      <a href="/caliber/37mm">37mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/37mm round.jpg")  }}></a>
      <a href="/caliber/152mm">152mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/152mm round.jpeg")  }}></a>
      <a href="/caliber/2cm">2cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/2cm round.JPG")  }}></a>
      <a href="/caliber/105mm">105mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/105mm round.jpg")  }}></a>
      <a href="/caliber/90mm">90mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/90mm round.jpg")  }}></a>
      <a href="/caliber/130mm">130mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/130mm round.png")  }}></a>
      <a href="/caliber/120mm">120mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/120mm round.jpg")  }}></a>
      <a href="/caliber/12.8cm">12.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/12.8cm round.jpg")  }}></a>
      <a href="/caliber/8.8cm">8.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/8.8cm round.jpg")  }}></a>
      <a href="/caliber/32-pdr">32-pdr <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/32-pdr round.jpg")  }}></a>
      <a href="/caliber/76mm">76mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/76mm round.jpg")  }}></a>
    </div>
  </div>
  </div>
   {% if name == '100mm' %}
     <div class="w3-main" style="margin-left:0px">
     <div class="w3-hide-large" style="margin-top:0px"></div>
     <div class="w3-row">
      <div class="w3-third">
        <h1> Soviet(Russian)</h1>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/t-100lt'" src={{ url_for('static', filename="images/T-100LT.jpg")  }}>
        <h1>T-100LT - 100mm</h1>
      </div>
      <div class="w3-third">
        <h1> Soviet(Russian)</h1>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/mediumtank/object140'" src={{ url_for('static', filename="images/Object 140.jpg")  }}>
        <h1>Object 140 - 100mm U-8TS</h1>
      </div>
      <div class="w3-third">
        <h1> Soviet(Russian)</h1>
      <img class="dImg" width="480" height="300" onclick="window.location.href= '/mediumtank/t-54'" src={{ url_for('static', filename="images/T-54.jpg")  }}>
        <h1>T-54 - 100mm D-10T Rifled Gun</h1>
      </div>
    </div>
   </div>
   {% elif name == '37mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>American</h1>
       <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/m3stuart'" src={{ url_for('static', filename="images/M3 Stuart.jpg")  }}>
       <h1>M3 Stuart - 37mm Gun M6</h1>
     </div>
    </div>
   </div>
   {% elif name == '152mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>American</h1>
       <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/sheridan'" src={{ url_for('static', filename="images/Sheridan.jpg")  }}>
       <h1>Sheridan - M81E1 Rifled 152mm Launcher</h1>
     </div>
    </div>
   </div>
   {% elif name == '2cm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>German</h1>
       <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/panzerii'" src={{ url_for('static', filename="images/Panzer II.jpg")  }}>
       <h1>Panzer II - 2cm KwK 38</h1>
     </div>
    </div>
   </div>
   {% elif name == '105mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>British</h1>
       <img class="dImg" width="380" height="300" onclick="window.location.href= '/mediumtank/centurionactionx'" src={{ url_for('static', filename="images/Centarion Action X.jpg")  }}>
       <h1>Centurian Action X - 105mm L7A2</h1>
     </div>
     <div class="w3-third">
      <h1>Swedish</h1>
      <img class="dImg" width="380" height="300" onclick="window.location.href= '/tankdestroyers/strvs1'" src={{ url_for('static', filename="images/Strv S1.jpg")  }}>
      <h1>Strv S1 - 10.5cm kan strv 103 L/51</h1>
    </div>
    </div>
   </div>
   {% elif name == '90mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>American</h1>
       <img class="dImg" width="480" height="300" onclick="window.location.href= '/mediumtank/m26pershing'" src={{ url_for('static', filename="images/M26 Pershing.jpg")  }}>
       <h1>M26 Pershing - 90mm Gun M3</h1>
     </div>
    </div>
   </div>
   {% elif name == '130mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>Soviet(Russian)</h1>
       <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/object277'" src={{ url_for('static', filename="images/Object 277.jpg")  }}>
       <h1>Object 277 - 130mm M-65</h1>
     </div>
    </div>
   </div>
   {% elif name == '120mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>British</h1>
      <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/challenger2'" src={{ url_for('static', filename="images/Challenger2.jpg")  }}>
       <h1>Challenger 2 L30A1 Rifled Gun</h1>
     </div>
    </div>
   </div>
   {% elif name == '12.8cm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>German</h1>
       <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/maus'" src={{ url_for('static', filename="images/Maus.jpg")  }}>
       <h1>Maus - 12.8cm KwK 44 Gun L/55</h1>
     </div>
     <div class="w3-third">
      <h1>German</h1>
      <img class="dImg" width="480" height="300" onclick="window.location.href= '/tankdestroyers/jagdtiger'" src={{ url_for('static', filename="images/JagdTiger.jpg")  }}>
      <h1>JagdTiger - 12.8cm PaK 44 L/56</h1>
    </div>
   </div>
  </div>
   {% elif name == '8.8cm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>German</h1>
       <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/tiger'" src={{ url_for('static', filename="images/Tiger .jpg")  }}>
       <h1>Tiger - 8.8cm KwK 36 L/56</h1>
     </div>
    </div>
   </div>
   {% elif name == '32-pdr' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>British</h1>
       <img class="dImg" width="480" height="300" onclick="window.location.href= '/tankdestroyers/churchillguncarrier'" src={{ url_for('static', filename="images/Churchill Gun Carrier.jpg")  }}>
       <h1>Churchil Gun Carrier - QQF 32-pdr AT</h1>
     </div>
    </div>
   </div>
   {% elif name == '76mm' %}
     <div class="w3-main" style="margin-left:300px">
     <div class="w3-hide-large" style="margin-top:83px"></div>
     <div class="w3-row">
      <div class="w3-third">
       <h1>American</h1>
       <img class="dImg" width="480" height="300" onclick="window.location.href= '/tankdestroyers/hellcat'" src={{ url_for('static', filename="images/Hellcat.jpg")  }}>
       <h1>Hellcat - 76mm gun M1A1</h1>
     </div>
    </div>
   </div>
   {% elif name == '' or name == 'other' %}
   <div class="w3-main" style="margin-left:0px">
   <div class="w3-hide-large" style="margin-top:150px"></div>
   <div class="w3-row">
    <div class="w3-third">
      <div class="break"></div>
      <h2> Soviet(Russian)</h2>
      <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/t-100lt'" src={{ url_for('static', filename="images/T-100LT.jpg")  }}>
      <h2>T-100LT - 100mm</h2>
    </div>
    <u><h1> Tanks with 100mm Guns</h1></u>
      <div class="w3-third">
        <h2> Soviet(Russian)</h2>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/mediumtank/object140'" src={{ url_for('static', filename="images/Object 140.jpg")  }}>
        <h2>Object 140 - 100mm U-8TS</h2>
    </div>
    <div class="w3-third">
      <h2> Soviet(Russian)</h2>
      <img class="dImg" width="480" height="300" onclick="window.location.href= '/mediumtank/t-54'" src={{ url_for('static', filename="images/T-54.jpg")  }}>
      <h2>T-54 - 100mm D-10T</h2>
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-third">
      <br></br>
      <u><h1>Tanks with 37mm Guns </h1></u>
      <div class="break2"></div>
      <h2>American</h2>
      <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/m3stuart'" src={{ url_for('static', filename="images/M3 Stuart.jpg")  }}>
      <h2>M3 Stuart - 37mm Gun M6</h2>
      <br></br>
    </div>
      <div class="w3-third">
        <br></br>
        <u><h1>Tanks with 152 Launchers </h1></u>
        <div class="break2"></div>
        <h2>American</h2>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/sheridan'" src={{ url_for('static', filename="images/Sheridan.jpg")  }}>
        <h2>Sheridan - M81E1 Rifled 152mm Launcher</h2>
      </div>
        <div class="w3-third">
          <br></br>
          <u><h1>Tanks with 2cm MachineGun</h1></u>
          <div class="break2"></div>
          <h2>German</h2>
          <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/panzerii'" src={{ url_for('static', filename="images/Panzer II.jpg")  }}>
          <h2>Panzer II - 2cm KwK 38</h2>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-third">
          <br></br>
          <u><h1>Tanks with 105mm Guns </h1></u>
          <div class="break2"></div>
          <h2>British</h2>
          <img class="dImg" width="480" height="300" onclick="window.location.href= '/mediumtank/centurionactionx'" src={{ url_for('static', filename="images/Centarion Action X.jpg")  }}>
          <h2>Centurian Action X - 105mm L7A2</h2>
        </div>
        <div class="w3-third">
          <br></br>
          <div class="break2"></div>
          <div class="break"></div>
          <h2>Swedish</h2>
          <img class="dImg" width="480" height="300" onclick="window.location.href= '/tankdestroyers/strvs1'" src={{ url_for('static', filename="images/Strv S1.jpg")  }}>
          <h2>Strv S1 - 10.5cm kan strv 103 L/51</h2>
        </div>
        <div class="w3-third">
          <br></br>
          <u><h1>Tanks with 130mm Guns </h1></u>
          <div class="break2"></div>
          <h2>Soviet(Russian)</h2>
          <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/object277'" src={{ url_for('static', filename="images/Object 277.jpg")  }}>
          <h2>Object 277 - 130mm M-65</h2>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-third">
          <br></br>
          <u><h1>Tanks with 120mm Guns </h1></u>
          <div class="break2"></div>
          <h2>British</h2>
          <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/challenger2'" src={{ url_for('static', filename="images/Challenger2.jpg")  }}>
          <h2>Challenger 2 L30A1 Rifled Gun</h2>
        </div>
        <div class="w3-third">
          <br></br>
          <u><h1>Tanks with 90mm gun</h1></u>
          <div class="break2"></div>
          <h2>American</h2>
          <img class="dImg" width="480" height="300" onclick="window.location.href= '/mediumtank/m26pershing'" src={{ url_for('static', filename="images/M26 Pershing.jpg")  }}>
          <h2>M26 Pershing - 90mm Gun M3</h2>
        </div>
        <div class="w3-third">
          <br></br>
          <u><h1>Tanks with 8.8cm Guns </h1></u>
          <div class="break2"></div>
          <h2>German</h2>
          <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/tiger'" src={{ url_for('static', filename="images/Tiger .jpg")  }}>
          <h2>Tiger - 8.8cm KwK 36 L/56</h2>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-third">
          <br></br>
          <u><h1>Tanks with 12.8cm Guns </h1></u>
          <div class="break2"></div>
          <h2>German</h2>
          <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/maus'" src={{ url_for('static', filename="images/Maus.jpg")  }}>
          <h2>Maus - 12.8cm KwK 44 Gun L/55</h2>
        </div>
        <div class="w3-third">
          <br></br>
          <div class="break2"></div>
          <div class="break"></div>
          <h2>German</h2>
          <img class="dImg" width="480" height="300" onclick="window.location.href= '/tankdestroyers/jagdtiger'" src={{ url_for('static', filename="images/JagdTiger.jpg")  }}>
          <u><h2>JadgTiger - 12.8cm PaK 44 L/56</h2></u>
        </div>
        <div class="w3-third">
          <br></br>
          <h1>Tanks with 76mm Guns </h1>
          <div class="break2"></div>
          <h2>American</h2>
          <img class="dImg" width="480" height="300" onclick="window.location.href= '/tankdestroyers/hellcat'" src={{ url_for('static', filename="images/Hellcat.jpg")  }}>
          <u><h2>Hellcat - 76mm gun M1A1</h2></u>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-third">
          <br></br>
        <u><h1>Tanks with 32-pdr Guns </h1></u>
          <div class="break2"></div>
          <h2>British</h2>
          <img class="dImg" width="480" height="300" onclick="window.location.href= '/tankdestroyers/churchillguncarrier'" src={{ url_for('static', filename="images/Churchill Gun Carrier.jpg")  }}>
          <h2>Churchil Gun Carrier - QQF 32-pdr AT</h2>
      </div>
    </div>
  </div>
   {% endif %}
</body>
</html>
