<!DOCTYPE html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <body bgcolor="#556B2F">
  {% block content %}
    {% if name == 'Object277' %}
      <div class="hero-image2">
      <div class="hero-text">
        <center><h1>Object 277 - Soviet(Russian)</h1>
          <h2>Soviet Heavy Tank</h2>
        </center>
      </div>
      </div>
    {% elif name == 'Challenger2' %}
      <div class="hero-image3">
      <div class="hero-text">
        <center><h1>Challenger 2 - British</h1>
          <h2>British Main Battle Tank</h2>
        </center>
      </div>
      </div>
    {% elif name == 'Maus' %}
      <div class="hero-image4">
      <div class="hero-text">
        <center><h1>Maus - German</h1>
        <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == 'Tiger' %}
      <div class="hero-image5">
      <div class="hero-text">
        <center><h1>Tiger - German </h1>
          <h2>German Heavy Tank</h2>
       </center>
      </div>
      </div>
    {% elif name == '' %}
      <div class="hero-image19">
      <div class="hero-text">
        <center><h1>All Heavy Tanks </h1>
          <h2>All Listed Heavy Tanks</h2>
       </center>
      </div>
      </div>
    {% elif name == 'other' %}
        <div class="hero-image19">
        <div class="hero-text">
          <center><h3>Error 404: The Heavy Tank you have requested does not exist or cannot be found (Please use lowercase letters or check spelling) D: </h3>
            <h2>No Matter, you can now see all the Heavy Tanks Below</h2>
         </center>
        </div>
        </div>
    {% endif %}
  {% endblock %}

  <div class="navbar">
    <a href="/"><img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/home.png") }}></a>
  <div class="dropdown">
    <button class="dropbtn">Light Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/lighttank/t-100lt">T-100 LT <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/lighttank/m3stuart">M3 Stuart <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg") }}></a>
      <a href="/lighttank/sheridan">Sheridan <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
      <a href="/lighttank/panzerii">Panzer II <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Medium Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/mediumtank/object140">Object 140 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg") }}></a>
      <a href="/mediumtank/centurionactionx">Centurion Action X <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/mediumtank/t-54">T-54 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/mediumtank/m26pershing">M26 Pershing <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Heavy Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/heavytank/object277">Object 277 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/heavytank/challenger2">Challenger 2 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/heavytank/maus">Maus <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      <a href="/heavytank/tiger">Tiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Tank Destroyers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/tankdestroyers/jagdtiger">JagdTiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png") }}></a>
      <a href="/tankdestroyers/strvs1">Strv S1 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
      <a href="/tankdestroyers/churchillguncarrier">Churchill Gun Carrier <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/tankdestroyers/hellcat">Hellcat <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Nations
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/nations/german">German <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      <a href="/nations/russian">Soviet(Russian)<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/nations/british">British<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK Flag.png") }}></a>
      <a href="/nations/american">American <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/USA Flag.png") }}></a>
      <a href="/nations/swedish">Swedish <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Gun Calibers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/caliber/100mm">100m <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/100mm round.jpg")  }}></a>
      <a href="/caliber/37mm">37mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/37mm round.jpg")  }}></a>
      <a href="/caliber/152mm">152mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/152mm round.jpeg")  }}></a>
      <a href="/caliber/2cm">2cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/2cm round.JPG")  }}></a>
      <a href="/caliber/105mm">105mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/105mm round.jpg")  }}></a>
      <a href="/caliber/90mm">90mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/90mm round.jpg")  }}></a>
      <a href="/caliber/130mm">130mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/130mm round.png")  }}></a>
      <a href="/caliber/120mm">120mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/120mm round.jpg")  }}></a>
      <a href="/caliber/12.8cm">12.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/12.8cm round.jpg")  }}></a>
      <a href="/caliber/8.8cm">8.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/8.8cm round.jpg")  }}></a>
      <a href="/caliber/32-pdr">32-pdr <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/32-pdr round.jpg")  }}></a>
      <a href="/caliber/76mm">76mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/76mm round.jpg")  }}></a>
    </div>
  </div>
 </div>
  {% if name == 'Object277' %}
  <h4> Developed in 1956–1958 at the Kirov Plant, Leningrad, under the supervision of Joseph Kotin. Two prototypes were produced and underwent trials from 1959 through 1960.
    A hull and a turret were produced for testing for shell resistance. The development was discontinued in the summer of 1960 due to insufficient development of certain systems and components.
    In addition, the vehicle did not demonstrate any advantage over the Object 770 heavy tank. </h4>
  <ul style="list-style-type:disc">
    <li>Crew</li>
    <ul style="list-style-type:circle">
      <li>Commander</li>
      <li>Driver</li>
      <li>Gunner</li>
      <li>loader</li>
    </ul>
    <li>Mobility</li>
    <ul style="list-style-type:circle">
      <li>Engine Power: 950 hp</li>
      <li>Speed Limit: 55/15 km/h</li>
      <li>Traverse: 32 deg/s</li>
      <li>Power/Wt Ratio: 17.27 hp/t</li>
    </ul>
    <li>Armour</li>
    <ul style="list-style-type:circle">
      <li>Hull Armour: 140/112/50 mm</li>
      <li>Turret Armour: 290/224/80 mm</li>
    </ul>
  </ul>
  {% elif name == 'Challenger2' %}
  <h4>The FV4034 Challenger 2 (MOD designation "CR2") is a British main battle tank (MBT) in service with the armies of the United Kingdom and Oman. It was designed and built by the British company Vickers Defence Systems (now known as BAE Systems Land & Armaments).

      Vickers Defence Systems began to develop a successor to Challenger 1 as a private venture in 1986. A £90 million deal for a demonstrator vehicle was finalised in January 1989. In June 1991, the Ministry of Defence placed a £520 million order for 140 vehicles, with a further 268 ordered in 1994.
      Production began in 1993 and the unit's tanks were delivered in July 1994, replacing the Challenger 1. The tank entered service with the British Army in 1998, with the last delivered in 2002. It is expected to remain in service until 2035.
      The Royal Army of Oman ordered 18 Challenger 2s in 1993 and a further 20 tanks in November 1997.</h4>

      <ul style="list-style-type:disc">
        <li>Crew</li>
        <ul style="list-style-type:circle">
          <li>Commander</li>
          <li>Driver</li>
          <li>Gunner</li>
          <li>loader/Radio Operator</li>
        </ul>
        <li>Mobility</li>
        <ul style="list-style-type:circle">
          <li>Engine Power: 1200 bhp</li>
          <li>Speed Limit: 59 km/h</li>
          <li>Power/Wt Ratio 19.2 hp/t</li>
        </ul>
        <li>Armour</li>
        <ul style="list-style-type:circle">
          <li>Hull Armour: Chobham / Dorchester Level 2 (classified)</li>
          <li>Turret Armour: Chobham / Dorchester Level 2 (classified)</li>
        </ul>
      </ul>
  {% elif name == 'Maus' %}
  <h4>Panzerkampfwagen VIII Maus ("Mouse") was a German World War II super-heavy tank completed in late 1944. It is the heaviest fully enclosed armoured fighting vehicle ever built.
      Five were ordered, but only two hulls and one turret were completed before the testing grounds were captured by advancing Soviet military forces.

      These two prototypes – one with, and the other without a turret – underwent trials in late 1944. The complete vehicle was 10.2 metres (33 ft 6 in) long, 3.71 metres (12 ft 2 in) wide and 3.63 metres (11.9 ft) high.
      Weighing 188 metric tons, the Maus's main armament was the Krupp-designed 128 mm KwK 44 L/55 gun, based on the 12.8 cm Pak 44 anti-tank field artillery piece also used in the casemate-type Jagdtiger tank destroyer, with a coaxial 75 mm KwK 44 L/36.5 gun.
      The 128 mm gun was powerful enough to destroy all Allied armoured fighting vehicles then in service, some at ranges exceeding 3,500 metres (2.2 mi)</h4>

      <ul style="list-style-type:disc">
        <li>Crew</li>
        <ul style="list-style-type:circle">
          <li>Commander</li>
          <li>Radio Operator</li>
          <li>Driver</li>
          <li>Gunner</li>
          <li>Loader</li>
          <li>Loader</li>
        </ul>
        <li>Mobility</li>
        <ul style="list-style-type:circle">
          <li>Engine Power: 1750 hp</li>
          <li>Speed Limit: 20/15 km/h</li>
          <li>Traverse: 15 deg/s</li>
          <li>Power/Wt Ratio 9.26 hp/t</li>
        </ul>
        <li>Armour</li>
        <ul style="list-style-type:circle">
          <li>Hull Armour: 200/185/160 mm</li>
          <li>Turret Armour: 260/210/210 mm</li>
        </ul>
      </ul>
  {% elif name == 'Tiger' %}
  <h4> The Tiger I About this sound listen (help·info) is a German heavy tank of World War II deployed from 1942 in Africa and Europe, usually in independent heavy tank battalions.
    Its final designation was Panzerkampfwagen VI Tiger Ausf. E often shortened to Tiger. The Tiger I gave the Wehrmacht its first armoured fighting vehicle that mounted the 8.8 cm KwK 36 gun (not to be confused with the 8.8 cm Flak 36).
    1,347 were built between August 1942 and August 1944.[9] After August 1944, production of the Tiger I was phased out in favour of the Tiger II.

    While the Tiger I has been called an outstanding design for its time, it was over-engineered,[11] using expensive materials and labour-intensive production methods. The Tiger was prone to certain types of track failures and breakdowns, and was limited in range by its high fuel consumption.
    It was expensive to maintain, but generally mechanically reliable. It was difficult to transport, and vulnerable to immobilisation when mud, ice, and snow froze between its overlapping and interleaved Schachtellaufwerk-pattern road wheels, often jamming them solid.
    This was a problem on the Eastern Front in the muddy rasputitsa season and during periods of extreme cold.</h4>

    <ul style="list-style-type:disc">
      <li>Crew</li>
      <ul style="list-style-type:circle">
        <li>Commander</li>
        <li>Driver</li>
        <li>Gunner</li>
        <li>Radio Operator</li>
        <li>Loader</li>
      </ul>
      <li>Mobility</li>
      <ul style="list-style-type:circle">
        <li>Engine Power: 650 hp</li>
        <li>Speed Limit: 40/12 km/h</li>
        <li>Traverse: 24 deg/s</li>
        <li>Power/Wt Ratio 11.7 hp/t</li>
      </ul>
      <li>Armour</li>
      <ul style="list-style-type:circle">
        <li>Hull Armour: 100/80/80 mm</li>
        <li>Turret Armour: 100/80/80 mm</li>
      </ul>
    </ul>
    {% elif name == '' or name == 'other' %}
    <div class="w3-main" style="margin-left:0px">
    <div class="w3-hide-large" style="margin-top:83px"></div>
    <div class="w3-row">
      <div class="w3-third">
        <h1> German </h1>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/maus'" src={{ url_for('static', filename="images/Maus.jpg")  }}>
        <h1>Maus</h1>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/tiger'" src={{ url_for('static', filename="images/Tiger .jpg")  }}>
        <h1>Tiger</h1>
      </div>
      <div class="w3-third">
        <h1> Soviet(Russian) </h1>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/object277'" src={{ url_for('static', filename="images/Object 277.jpg")  }}>
        <h1>Object 277</h1>
      </div>
      <div class="w3-third">
        <h1> British </h1>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/heavytank/challenger2'" src={{ url_for('static', filename="images/Challenger2.jpg")  }}>
        <h1>Challenger 2</h1>
      </div>
   </div>
  {% endif %}

</body>
</html>
