<!DOCTYPE html>
<head>
  {% block content %}
    {% if name == 'Object277' %}
      <h1>Object 277 - Soviet(Russian) </h1>
      <p> Soviet Heavy Tank </p>
    {% elif name == 'Challenger2' %}
      <h1> Challenger 2 - British </h1>
      <p> British Main Battle Tank </p>
    {% elif name == 'Maus' %}
      <h1> Maus - German </h1>
      <p> German Heavy Tank </p>
    {% elif name == 'Tiger' %}
      <h1> Tiger - German </h1>
      <p> German Heavy Tank
    {% endif %}
  {% endblock %}
</head>
</html>
