<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <div class="hero-image">
  <div class="hero-text">
    <center><h1>Tanks Dictionary</h1>
    <h2>Welcome to my Super Amazing Website</h2>
    </center>
  </div>
</div>
    <div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Light Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/lighttank">LT1</a>
      <a href="/lighttank">LT2</a>
      <a href="/lighttank">LT3</a>
      <a href="/lighttank">LT4</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Medium Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/mediumtank">MT1</a>
      <a href="/mediumtank">MT2</a>
      <a href="/mediumtank">MT3</a>
      <a href="/mediumtank">MT4</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Heavy Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/heavytank">HT1</a>
      <a href="/heavytank">HT2</a>
      <a href="/heavytank">HT3</a>
      <a href="/heavytank">HT4</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Tank Destroyers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/tankdestroyer">TD1</a>
      <a href="/tankdestroyer">TD2</a>
      <a href="/tankdestroyer">TD3</a>
      <a href="/tankdestroyer">TD4</a>
    </div>
  </div>
</div>
</head>
<body>
</body>
</html>
