<!DOCTYPE html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <center><h1>Tanks Dictionary</h1>
    <h2>Welcome to my super amazing webpage</h2>
    </center>
    <div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Light Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/">LT1</a>
      <a href="/">LT2</a>
      <a href="/">LT3</a>
      <a href="/">LT4</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Medium Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/">MT1</a>
      <a href="/">MT2</a>
      <a href="/">MT3</a>
      <a href="/">MT4</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Heavy Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/">HT1</a>
      <a href="/">HT2</a>
      <a href="/">HT3</a>
      <a href="/">HT4</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Tank Destroyers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/">TD1</a>
      <a href="/">TD2</a>
      <a href="/">TD3</a>
      <a href="/">TD4</a>
    </div>
  </div>
</div>
</head>
<body>
</body>
</html>
