<!DOCTYPE html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  {% block content %}
    {% if name == '' %}
      <div class="hero-image">
      <div class="hero-text">
          <center><h1>Tanks Dictionary</h1>
          <h2>Welcome to my Super Amazing Website</h2>
          </center>
        </div>
      </div>
    {% elif name == 'other' %}
        <div class="hero-image">
        <div class="hero-text">
            <h3><center>Error 404: The Tank you have requested does not exist or cannot be found (lowercase letter and check spelling) D:<h3>
            <h2>No matter, I have returned you to the home page Pog</h2>
            </center>
        </div>
        </div>
     {% endif %}
    {% endblock %}


    <div class="navbar">
      <a href="/"><img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/home.png") }}></a>
    <div class="dropdown">
      <button class="dropbtn">Light Tanks
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/lighttank/t-100lt">T-100 LT <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
        <a href="/lighttank/m3stuart">M3 Stuart <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg") }}></a>
        <a href="/lighttank/sheridan">Sheridan <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
        <a href="/lighttank/panzerii">Panzer II <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Medium Tanks
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/mediumtank/object140">Object 140 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg") }}></a>
        <a href="/mediumtank/centurionactionx">Centurion Action X <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
        <a href="/mediumtank/t-54">T-54 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
        <a href="/mediumtank/m26pershing">M26 Pershing <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Heavy Tanks
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/heavytank/object277">Object 277 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
        <a href="/heavytank/challenger2">Challenger 2 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
        <a href="/heavytank/maus">Maus <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
        <a href="/heavytank/tiger">Tiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Tank Destroyers
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/tankdestroyers/jagdtiger">JagdTiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png") }}></a>
        <a href="/tankdestroyers/strvs1">Strv S1 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
        <a href="/tankdestroyers/churchillguncarrier">Churchill Gun Carrier <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
        <a href="/tankdestroyers/hellcat">Hellcat <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Nations
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/nations/german">German <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
        <a href="/nations/russian">Soviet(Russian)<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
        <a href="/nations/british">British<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK Flag.png") }}></a>
        <a href="/nations/american">American <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/USA Flag.png") }}></a>
        <a href="/nations/swedish">Swedish <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Gun Calibers
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/caliber/100mm">100m <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/100mm.jpg")  }}></a>
        <a href="/caliber/37mm">37mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/37mm.jpeg")  }}></a>
        <a href="/caliber/152mm">152mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/152mm.gif")  }}></a>
        <a href="/caliber/2cm">2cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/2cm.jpg")  }}></a>
        <a href="/caliber/105mm">105mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/105mm.jpg")  }}></a>
        <a href="/caliber/90mm">90mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/90mm.png")  }}></a>
        <a href="/caliber/130mm">130mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/130mm.jpg")  }}></a>
        <a href="/caliber/120mm">120mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/120mm.png")  }}></a>
        <a href="/caliber/12.8cm">12.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/12.8.jpg")  }}></a>
        <a href="/caliber/8.8cm">8.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/8.8cm.jpg")  }}></a>
        <a href="/caliber/32-pdr">32-pdr <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/32-pdr.jpg")  }}></a>
        <a href="/caliber/76mm">76mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/76mm.jpg")  }}></a>
      </div>
    </div>
    </div>
</head>
<body>
  <body bgcolor="#556B2F">
  <div class="w3-main" style="margin-left:300px">
  <div class="w3-hide-large" style="margin-top:83px"></div>
  <div class="w3-row">
    <div class="w3-third">
      <img src="https://2.bp.blogspot.com/-nryJhvc5Wlg/WR48OGAR7GI/AAAAAAAANdQ/dZXA2frwXfs42FEFxbnMs8WBSfU_PTXdQCLcB/s1600/m3a3light01-95ffdf7d17f08979c937c91d2b2225c4.jpg" style="width:100%" onclick="window.location.href= '/lighttank'" width="300" height="300">
      <h1>Light Tanks</h1>
      <img src="http://director.io/tanquesyblindados/articulos/epocaactual/t54/t54_1www.geocities.jpg" style="width:100%" onclick="window.location.href= '/mediumtank'" width="300" height="300">
      <h1>Medium Tanks</h1>
      <img src="https://img00.deviantart.net/2b03/i/2015/117/5/a/south_park_wwii_nations_by_southparkphilosopher-d47mi77.jpg" style="width:100%" onclick="window.location.href= '/nations'" width="300" height="300">
      <h1>Nations</h1>
    </div>
    <div class="w3-third">
      <img src="http://www.therookies.co/media/reviews/photos/original/e7/22/79/john-olofinskiy-tiger-tank-study-29-1523524781.jpg" style="width:100%" onclick="window.location.href= '/heavytank'" width="300" height="300">
      <h1>Heavy Tanks</h1>
      <img src="https://i.ytimg.com/vi/Eal7XU0cABA/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyer'" width="300" height="300">
      <h1>Tank Destroyers</h1>
      <img src="http://pm1.narvii.com/6853/5310a7e545c0969acc4af00a1307aabb6d25ff70v2_00.jpg" style="width:100%" onclick="window.location.href= '/caliber'" width="300" height="300">
      <h1>Gun Calibers</h1>
    </div>
 </div>
</body>
</html>
