<!DOCTYPE html>
<head>
  <!--These are links to various style sheets I use and adding my favicon to the page-->
  <link rel="shortcut icon"  href="{{ url_for('static',filename='images/favicon.ico') }}"/>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <!--All Heavy, Medium, Light and Tank destroyers use the same design system so I will
  stop commenting them-->
  <body bgcolor="#556B2F">
  {% block content %}
    {% if name == 'T-100LT' %}
      <title>T-100LT - Soviet(Russian)</title>
      <div class="hero-image6">
      <div class="hero-text">
        <center><h1>T-100 LT - Soviet(Russian)</h1>
        <h2>Soviet Light Tank</h2>
        </center>
      </div>
      </div>
    {% elif name == 'M3Stuart' %}
      <title>M3 Stuart - American</title>
      <div class="hero-image7">
      <div class="hero-text">
        <center><h1>M3 Stuart - American</h1>
          <h2>American Light Tank </h2>
        </center>
      </div>
      </div>
    {% elif name == 'Sheridan' %}
      <title>Sheridan - American</title>
      <div class="hero-image8">
      <div class="hero-text">
        <center><h1>Sheridan - American</h1>
          <h2>American Light Tank </h2>
        </center>
      </div>
      </div>
    {% elif name == 'PanzerII' %}
      <title>PanzerII - German</title>
      <div class="hero-image9">
      <div class="hero-text">
        <center><h1>Panzer II - German</h1>
          <h2>German Light Tank  </h2>
        </center>
      </div>
      </div>
    {% elif name == '' %}
      <title>Light Tanks</title>
      <div class="hero-image20">
      <div class="hero-text">
        <center><h1>All Light Tanks</h1>
          <h2>All Listed Light Tanks </h2>
        </center>
      </div>
      </div>
    {% elif name == 'other' %}
      <title>Error 404: FeelsBadMan D:</title>
      <div class="hero-image20">
      <div class="hero-text">
        <center><h3>Error 404: The Light Tank you have requested does not exist or cannot be found (Please use lowercase letters or check spelling) D:</h3>
          <h2>But dont worry here is all the Light Tanks in this Directory</h2>
        </center>
      </div>
      </div>
    {% endif %}
  {% endblock %}

  <div class="navbar">
    <a href="/"><img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/home.png") }}></a>
  <div class="dropdown">
    <button class="dropbtn">Light Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/lighttank/t-100lt">T-100 LT <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/lighttank/m3stuart">M3 Stuart <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg") }}></a>
      <a href="/lighttank/sheridan">Sheridan <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
      <a href="/lighttank/panzerii">Panzer II <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Medium Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/mediumtank/object140">Object 140 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg") }}></a>
      <a href="/mediumtank/centurionactionx">Centurion Action X <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/mediumtank/t-54">T-54 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/mediumtank/m26pershing">M26 Pershing <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Heavy Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/heavytank/object277">Object 277 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/heavytank/challenger2">Challenger 2 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/heavytank/maus">Maus <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      <a href="/heavytank/tiger">Tiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Tank Destroyers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/tankdestroyers/jagdtiger">JagdTiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png") }}></a>
      <a href="/tankdestroyers/strvs1">Strv S1 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
      <a href="/tankdestroyers/churchillguncarrier">Churchill Gun Carrier <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/tankdestroyers/hellcat">Hellcat <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Nations
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/nations/german">German <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      <a href="/nations/russian">Soviet(Russian)<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/nations/british">British<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK Flag.png") }}></a>
      <a href="/nations/american">American <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/USA Flag.png") }}></a>
      <a href="/nations/swedish">Swedish <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Gun Calibers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/caliber/100mm">100m <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/100mm round.jpg")  }}></a>
      <a href="/caliber/37mm">37mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/37mm round.jpg")  }}></a>
      <a href="/caliber/152mm">152mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/152mm round.jpeg")  }}></a>
      <a href="/caliber/2cm">2cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/2cm round.JPG")  }}></a>
      <a href="/caliber/105mm">105mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/105mm round.jpg")  }}></a>
      <a href="/caliber/90mm">90mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/90mm round.jpg")  }}></a>
      <a href="/caliber/130mm">130mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/130mm round.png")  }}></a>
      <a href="/caliber/120mm">120mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/120mm round.jpg")  }}></a>
      <a href="/caliber/12.8cm">12.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/12.8cm round.jpg")  }}></a>
      <a href="/caliber/8.8cm">8.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/8.8cm round.jpg")  }}></a>
      <a href="/caliber/32-pdr">32-pdr <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/32-pdr round.jpg")  }}></a>
      <a href="/caliber/76mm">76mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/76mm round.jpg")  }}></a>
    </div>
  </div>
 </div>
{% if name == 'T-100LT' %}
<h4> A project for a light tank with the T-100 armament. Jointly developed by Research Institute No. 100 and GSKB-47 (State Specialized Design Bureau) in the mid-1960s.
     The vehicle featured decent armor that could protect it from 90-mm shells (in case of frontal impact) at any distance. </h4>
<ul style="list-style-type:disc">
  <li>Crew</li>
  <ul style="list-style-type:circle">
    <li>Commander(Radio Operator, Loader)</li>
    <li>Driver</li>
    <li>Gunner(Loader)</li>
  </ul>
  <li>Mobility</li>
  <ul style="list-style-type:circle">
    <li>Engine Power: 720 hp</li>
    <li>Speed Limit: 72/25 km/h</li>
    <li>Traverse: 56 deg/s</li>
    <li>Power/Wt Ratio: 48 hp/t</li>
  </ul>
  <li>Armour</li>
  <ul style="list-style-type:circle">
    <li>Hull Armour: 90/40/40 mm</li>
    <li>Turret Armour: 180/40/40 mm</li>
  </ul>
</ul>
{% elif name == 'M3Stuart' %}
<h4>Developed in 1938 through 1941 on the basis of the M2. Mass-produced from 1941. More than 13,000 vehicles in various versions were built, from the M3 to the M3A3, all of which were supplied to almost every allied nation under Lend-Lease.
    The M3 tanks were designated Stuart I by the British, while the M3A1 version received the designation Stuart III. The M3 first saw action in the battle at Sidi Rezegh.</h4>

    <ul style="list-style-type:disc">
      <li>Crew</li>
      <ul style="list-style-type:circle">
        <li>Commander</li>
        <li>Driver</li>
        <li>Gunner</li>
        <li>Radio Operator</li>
      </ul>
      <li>Mobility</li>
      <ul style="list-style-type:circle">
        <li>Engine Power: 245 bhp</li>
        <li>Speed Limit: 61/20 km/h</li>
        <li>Traverse: 40 deg/s</li>
        <li>Power/Wt Ratio 20.35 hp/t</li>
      </ul>
      <li>Armour</li>
      <ul style="list-style-type:circle">
        <li>Hull Armour: 38.1/25.4/25.4 mm</li>
        <li>Turret Armour: 38.1/25.4/25.4 mm</li>
      </ul>
    </ul>
{% elif name == 'Sheridan' %}
<h4>Work on the vehicle started under the AR/AAV project (Armored Reconnaissance/Airborne Assault Vehicle) in January 1959. In June 1962, the Cadillac Motor Car Division delivered the first vehicle prototype to the client.
    The first generation of vehicles included three prototypes. Work was continued, and the vehicle eventually saw service under the M551 Sheridan designation in 1966.</h4>

    <ul style="list-style-type:disc">
      <li>Crew</li>
      <ul style="list-style-type:circle">
        <li>Commander(Radio Operator)</li>
        <li>Driver</li>
        <li>Gunner</li>
        <li>Loader</li>
      </ul>
      <li>Mobility</li>
      <ul style="list-style-type:circle">
        <li>Engine Power: 650 hp</li>
        <li>Speed Limit: 65/22 km/h</li>
        <li>Traverse: 55 deg/s</li>
        <li>Power/Wt Ratio 41.75 hp/t</li>
      </ul>
      <li>Armour</li>
      <ul style="list-style-type:circle">
        <li>Hull Armour: 14.3/31.8/12.7 mm</li>
        <li>Turret Armour: 38.1/15.9/15.9 mm</li>
      </ul>
    </ul>

{% elif name == 'PanzerII' %}
<h4> The last modification of the light Pz. II tank. The vehicle featured enhanced armor, the 2 cm KwK 38 gun and improved observation devices.
     A total of 524 vehicles were built from March 1941 through December 1942.</h4>

  <ul style="list-style-type:disc">
    <li>Crew</li>
    <ul style="list-style-type:circle">
      <li>Commander(Gunner)</li>
      <li>Driver</li>
      <li>Loader(Radio Operator)</li>
    </ul>
    <li>Mobility</li>
    <ul style="list-style-type:circle">
      <li>Engine Power: 130 hp</li>
      <li>Speed Limit: 40/15 km/h</li>
      <li>Traverse: 35 deg/s</li>
      <li>Power/Wt Ratio 14.12 hp/t</li>
    </ul>
    <li>Armour</li>
    <ul style="list-style-type:circle">
      <li>Hull Armour: 30/20/15 mm</li>
      <li>Turret Armour: 30/15/15 mm</li>
    </ul>
  </ul>
  {% elif name == '' or name == 'other' %}
    <div class="w3-main" style="margin-left:0px">
    <div class="w3-hide-large" style="margin-top:83px"></div>
    <div class="w3-row">
      <div class="w3-third">
        <h1> German </h1>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/panzerii'" src={{ url_for('static', filename="images/Panzer II.jpg")  }}>
        <h1>Panzer II</h1>
      </div>
      <div class="w3-third">
        <h1> Soviet(Russian) </h1>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/t-100lt'" src={{ url_for('static', filename="images/T-100LT.jpg")  }}>
        <h1>T-100LT</h1>
      </div>
      <div class="w3-third">
        <h1> American </h1>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/sheridan'" src={{ url_for('static', filename="images/Sheridan.jpg")  }}>
        <h1>Sheridan</h1>
        <img class="dImg" width="480" height="300" onclick="window.location.href= '/lighttank/m3stuart'" src={{ url_for('static', filename="images/M3 Stuart.jpg")  }}>
        <h1>M3 Stuart</h1>
      </div>
      </div>
{% endif %}
</body>
</html>
