<!DOCTYPE html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <body bgcolor="#556B2F">
  {% block content %}
    {% if name == 'Object140' %}
      <div class="hero-image10">
      <div class="hero-text">
        <center><h1>Object 140 - Soviet(Russian)</h1>
          <h2>Soviet Medium Tank </h2>
        </center>
      </div>
      </div>
    {% elif name == 'CenturionActionX' %}
      <div class="hero-image11">
      <div class="hero-text">
        <center><h1>Centurion Action X - British</h1>
          <h2>British Medium Tank  </h2>
        </center>
      </div>
      </div>
    {% elif name == 'T-54' %}
      <div class="hero-image12">
      <div class="hero-text">
        <center><h1>T-54 - Soviet(Russian)</h1>
          <h2>Soviet Medium Tank  </h2>
        </center>
      </div>
      </div>
    {% elif name == 'M26Pershing' %}
      <div class="hero-image13">
      <div class="hero-text">
        <center><h1>M26 Pershing - American</h1>
          <h2>American Medium Tank</h2>
        </center>
      </div>
      </div>
    {% elif name == '' %}
      <div class="hero-image21">
      <div class="hero-text">
        <center><h1>All Medium Tanks</h1>
          <h2>All Medium Tanks Listed</h2>
        </center>
      </div>
      </div>
    {% elif name == 'other' %}
        <div class="hero-image21">
        <div class="hero-text">
          <center><h3>Error 404: The Medium Tank you have requested does not exist or cannot be found (lowercase letter and check spelling) D: </h3>
            <h2>No Matter, you can now see all the Medium Tanks Below</h2>
         </center>
        </div>
        </div>
    {% endif %}
  {% endblock %}

  <div class="navbar">
    <a href="/"><img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/home.png") }}></a>
  <div class="dropdown">
    <button class="dropbtn">Light Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/lighttank/t-100lt">T-100 LT <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/lighttank/m3stuart">M3 Stuart <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg") }}></a>
      <a href="/lighttank/sheridan">Sheridan <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
      <a href="/lighttank/panzerii">Panzer II <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Medium Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/mediumtank/object140">Object 140 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg") }}></a>
      <a href="/mediumtank/centurionactionx">Centurion Action X <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/mediumtank/t-54">T-54 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/mediumtank/m26pershing">M26 Pershing <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Heavy Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/heavytank/object277">Object 277 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/heavytank/challenger2">Challenger 2 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/heavytank/maus">Maus <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      <a href="/heavytank/tiger">Tiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Tank Destroyers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/tankdestroyers/jagdtiger">JagdTiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png") }}></a>
      <a href="/tankdestroyers/strvs1">Strv S1 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
      <a href="/tankdestroyers/churchillguncarrier">Churchill Gun Carrier <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/tankdestroyers/hellcat">Hellcat <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Nations
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/nations/german">German <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      <a href="/nations/russian">Soviet(Russian)<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/nations/british">British<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK Flag.png") }}></a>
      <a href="/nations/american">American <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/USA Flag.png") }}></a>
      <a href="/nations/swedish">Swedish <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Gun Calibers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/caliber/100mm">100m <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/100mm round.jpg")  }}></a>
      <a href="/caliber/37mm">37mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/37mm round.jpg")  }}></a>
      <a href="/caliber/152mm">152mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/152mm round.jpeg")  }}></a>
      <a href="/caliber/2cm">2cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/2cm round.JPG")  }}></a>
      <a href="/caliber/105mm">105mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/105mm round.jpg")  }}></a>
      <a href="/caliber/90mm">90mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/90mm round.jpg")  }}></a>
      <a href="/caliber/130mm">130mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/130mm round.png")  }}></a>
      <a href="/caliber/120mm">120mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/120mm round.jpg")  }}></a>
      <a href="/caliber/12.8cm">12.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/12.8cm round.jpg")  }}></a>
      <a href="/caliber/8.8cm">8.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/8.8cm round.jpg")  }}></a>
      <a href="/caliber/32-pdr">32-pdr <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/32-pdr round.jpg")  }}></a>
      <a href="/caliber/76mm">76mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/76mm round.jpg")  }}></a>
    </div>
  </div>
 </div>
{% if name == 'Object140' %}
<h4> An experimental medium tank. Developed between 1953 and 1958 in Nizhny Tagil to replace the T-54. Two prototypes were built, but in 1958 the project was terminated in favor of the Object 430. </h4>
<ul style="list-style-type:disc">
  <li>Crew</li>
  <ul style="list-style-type:circle">
    <li>Commander(Radio Operator)</li>
    <li>Gunner</li>
    <li>Driver</li>
    <li>Loader</li>
  </ul>
  <li>Mobility</li>
  <ul style="list-style-type:circle">
    <li>Engine Power: 580 hp</li>
    <li>Speed Limit: 55/20 km/h</li>
    <li>Traverse: 54 deg/s</li>
    <li>Power/Wt Ratio: 16.11 hp/t</li>
  </ul>
  <li>Armour</li>
  <ul style="list-style-type:circle">
    <li>Hull Armour: 100/80/55 mm</li>
    <li>Turret Armour: 240/187/65 mm</li>
  </ul>
</ul>
{% elif name == 'CenturionActionX' %}
<h4>The Action X turret was planned to be used for later variants of the Centurion tank.
    One prototype of the turret was mounted on the chassis of the Centurion Mark 7, and another was used for ballistic trials.
    The vehicles with the Action X turret never entered mass production or saw service.</h4>

    <ul style="list-style-type:disc">
      <li>Crew</li>
      <ul style="list-style-type:circle">
        <li>Commander</li>
        <li>Gunner</li>
        <li>Driver</li>
        <li>Loader(Radio Operator)</li>
      </ul>
      <li>Mobility</li>
      <ul style="list-style-type:circle">
        <li>Engine Power: 1040 bhp</li>
        <li>Speed Limit: 53/20 km/h</li>
        <li>Traverse: 50 deg/s</li>
        <li>Power/Wt Ratio 18.91 hp/t</li>
      </ul>
      <li>Armour</li>
      <ul style="list-style-type:circle">
        <li>Hull Armour: 38.1/25.4/25.4 mm</li>
        <li>Turret Armour: 38.1/25.4/25.4 mm</li>
      </ul>
    </ul>
{% elif name == 'T-54' %}
<h4>The first prototype was constructed at the end of 1944. After successful trials in 1945–1947 the T-54 mod.
    1947 was adopted for service. 713 vehicles were constructed before production was phased out. In 1949 production of a new variant was launched.</h4>

    <ul style="list-style-type:disc">
      <li>Crew</li>
      <ul style="list-style-type:circle">
        <li>Commander(Radio Operator)</li>
        <li>Driver</li>
        <li>Gunner</li>
        <li>Loader(Radio Operator)</li>
      </ul>
      <li>Mobility</li>
      <ul style="list-style-type:circle">
        <li>Engine Power: 620 hp</li>
        <li>Speed Limit: 56/20 km/h</li>
        <li>Traverse: 46 deg/s</li>
        <li>Power/Wt Ratio 18.24 hp/t</li>
      </ul>
      <li>Armour</li>
      <ul style="list-style-type:circle">
        <li>Hull Armour: 120/80/45 mm</li>
        <li>Turret Armour: 200/155/60 mm</li>
      </ul>
    </ul>

{% elif name == 'M26Pershing' %}
<h4> Developed in 1948 and 1949, the M46 Patton was a modernized and improved version of the M26 Pershing.
     A total of 1,168 M46 tanks, in two basic variants, were manufactured between 1949 and 1951. Pattons saw wide use in the Korean War.</h4>

  <ul style="list-style-type:disc">
    <li>Crew</li>
    <ul style="list-style-type:circle">
      <li>Commander</li>
      <li>Gunner</li>
      <li>Driver</li>
      <li>Radio Operator</li>
      <li>Loader</li>
    </ul>
    <li>Mobility</li>
    <ul style="list-style-type:circle">
      <li>Engine Power: 560 hp</li>
      <li>Speed Limit: 48/20 km/h</li>
      <li>Traverse: 36 deg/s</li>
      <li>Power/Wt Ratio 13.64 hp/t</li>
    </ul>
    <li>Armour</li>
    <ul style="list-style-type:circle">
      <li>Hull Armour: 101.6/76.2/50.8 mm</li>
      <li>Turret Armour: 101.6/76.2/76.2 mm</li>
    </ul>
  </ul>
  {% elif name == '' or name == 'other' %}
  <div class="w3-main" style="margin-left:0px">
  <div class="w3-hide-large" style="margin-top:83px"></div>
  <div class="w3-row">
    <div class="w3-third">
      <h1> Soviet(Russian) </h1>
      <img src="https://i.ytimg.com/vi/ev_BsaoArsU/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/object140'" width="300" height="300">
      <h1>Object 140</h1>
      <img src="https://i.ytimg.com/vi/iDjKNmizfUY/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/t-54'" width="300" height="300">
      <h1>T-54</h1>
    </div>
    <div class="w3-third">
      <h1> British </h1>
      <img src="https://i.ytimg.com/vi/PLO1q4VbC24/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/centurionactionx'" width="300" height="300">
      <h1>Centurion Action X</h1>
    </div>
    <div class="w3-third">
      <h1> American </h1>
      <img src="https://i.ytimg.com/vi/iKW-W8im-2U/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/m26pershing'" width="300" height="300">
      <h1>M26 Pershing</h1>
    </div>
 </div>
{% endif %}

</body>
</html>
