<!DOCTYPE html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <body bgcolor="#556B2F">
  {% block content %}
    {% if name == 'German' %}
      <div class="hero-image24">
      <div class="hero-text">
        <center><h1>German Tanks</h1>
          <h2>For the Fatherland </h2>
        </center>
      </div>
      </div>
    {% elif name == 'Russian' %}
      <div class="hero-image25">
      <div class="hero-text">
        <center><h1>Soviet(Russian) Tanks</h1>
          <h2>For the Motherland </h2>
        </center>
      </div>
      </div>
    {% elif name == 'British' %}
      <div class="hero-image26">
      <div class="hero-text">
        <center><h1>British Tanks</h1>
          <h2>For the Glory of the British Empire</h2>
        </center>
      </div>
      </div>
    {% elif name == 'American' %}
      <div class="hero-image27">
      <div class="hero-text">
        <center><h1>American</h1>
          <h2>hoooo Raaaah Marines</h2>
        </center>
      </div>
      </div>
    {% elif name == 'Swedish' %}
        <div class="hero-image28">
        <div class="hero-text">
          <center><h1>Swedish</h1>
            <h2>Pewdewpie is one of our own</h2>
          </center>
        </div>
        </div>
    {% elif name == '' %}
      <div class="hero-image23">
      <div class="hero-text">
        <center><h1>Nations</h1>
          <h2>All Tanks by Nation </h2>
        </center>
      </div>
      </div>
    {% elif name == 'other' %}
        <div class="hero-image23">
        <div class="hero-text">
          <center><h3>Error 404: The Nation you have requested does not exist or cannot be found (lowercase letter and check spelling) D:</h3>
            <h2>No Matter, you can now see all the Tank Nations Below</h2>
         </center>
        </div>
        </div>
    {% endif %}
  {% endblock %}

  <div class="navbar">
    <a href="/"><img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/home.png") }}></a>
  <div class="dropdown">
    <button class="dropbtn">Light Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/lighttank/t-100lt">T-100 LT <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/lighttank/m3stuart">M3 Stuart <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg") }}></a>
      <a href="/lighttank/sheridan">Sheridan <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
      <a href="/lighttank/panzerii">Panzer II <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Medium Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/mediumtank/object140">Object 140 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg") }}></a>
      <a href="/mediumtank/centurionactionx">Centurion Action X <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/mediumtank/t-54">T-54 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/mediumtank/m26pershing">M26 Pershing <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Heavy Tanks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/heavytank/object277">Object 277 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/heavytank/challenger2">Challenger 2 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/heavytank/maus">Maus <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      <a href="/heavytank/tiger">Tiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Tank Destroyers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/tankdestroyers/jagdtiger">JagdTiger <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png") }}></a>
      <a href="/tankdestroyers/strvs1">Strv S1 <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
      <a href="/tankdestroyers/churchillguncarrier">Churchill Gun Carrier <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK union flag.jpg")  }}></a>
      <a href="/tankdestroyers/hellcat">Hellcat <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/American star.jpg")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Nations
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/nations/german">German <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/German Cross.png")  }}></a>
      <a href="/nations/russian">Soviet(Russian)<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/soviet star.jpg")  }}></a>
      <a href="/nations/british">British<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/UK Flag.png") }}></a>
      <a href="/nations/american">American <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/USA Flag.png") }}></a>
      <a href="/nations/swedish">Swedish <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/Swedish Flag.png")  }}></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Gun Calibers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/caliber/100mm">100m <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/100mm round.jpg")  }}></a>
      <a href="/caliber/37mm">37mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/37mm round.jpg")  }}></a>
      <a href="/caliber/152mm">152mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/152mm round.jpeg")  }}></a>
      <a href="/caliber/2cm">2cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/2cm round.JPG")  }}></a>
      <a href="/caliber/105mm">105mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/105mm round.jpg")  }}></a>
      <a href="/caliber/90mm">90mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/90mm round.jpg")  }}></a>
      <a href="/caliber/130mm">130mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/130mm round.png")  }}></a>
      <a href="/caliber/120mm">120mm<img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/120mm round.jpg")  }}></a>
      <a href="/caliber/12.8cm">12.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/12.8cm round.jpg")  }}></a>
      <a href="/caliber/8.8cm">8.8cm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/8.8cm round.jpg")  }}></a>
      <a href="/caliber/32-pdr">32-pdr <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/32-pdr round.jpg")  }}></a>
      <a href="/caliber/76mm">76mm <img class="dImg" width="20" height="20" src={{ url_for('static', filename="images/76mm round.jpg")  }}></a>
    </div>
  </div>
 </div>
  {% if name == 'German' %}
  <div class="w3-main" style="margin-left:300px">
  <div class="w3-hide-large" style="margin-top:83px"></div>
  <div class="w3-row">
    <div class="w3-third">
      <img src="https://i.ytimg.com/vi/ih6xHTrGUsc/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/jagdtiger'" width="300" height="300">
      <h1>JadgTiger</h1>
      <img src="https://i.ytimg.com/vi/ntgMWbtwCec/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/heavytank/maus'" width="300" height="300">
      <h1>Maus</h1>
    </div>
    <div class="w3-third">
      <img src="http://www.therookies.co/media/reviews/photos/original/e7/22/79/john-olofinskiy-tiger-tank-study-29-1523524781.jpg" style="width:100%" onclick="window.location.href= '/heavytank/tiger'" width="300" height="300">
      <h1>Tiger</h1>
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Sd_Kfz_121_Panzerkampfwagen_II_Ausf_F_%28Panzer_II%29_%284536135405%29.jpg" style="width:100%" onclick="window.location.href= '/lighttank/panzerii'" width="300" height="300">
      <h1>PanzerII</h1>
    </div>
  </div>
  {% elif name == 'Russian' %}
    <div class="w3-main" style="margin-left:300px">
    <div class="w3-hide-large" style="margin-top:83px"></div>
    <div class="w3-row">
      <div class="w3-third">
        <img src="https://i.ytimg.com/vi/fmeDdCMzns0/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/lighttank/t100lt'" width="300" height="300">
        <h1>T-100 LT</h1>
        <img src="https://i.ytimg.com/vi/ev_BsaoArsU/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/object140'" width="300" height="300">
        <h1>Object 140</h1>
      </div>
      <div class="w3-third">
        <img src="https://i.ytimg.com/vi/iDjKNmizfUY/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/t-54'" width="300" height="300">
        <h1>T-54</h1>
        <img src="https://i.ytimg.com/vi/vEoeAVXgJS4/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/heavytank/object277'" width="300" height="300">
        <h1>Object 277</h1>
      </div>
    </div>
  {% elif name == 'British' %}
    <div class="w3-main" style="margin-left:300px">
    <div class="w3-hide-large" style="margin-top:83px"></div>
    <div class="w3-row">
      <div class="w3-third">
        <img src="https://i.ytimg.com/vi/PLO1q4VbC24/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/centurionactionx'" width="300" height="300">
        <h1>Centurion Action X</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Challenger_2_Main_Battle_Tank_patrolling_outside_Basra%2C_Iraq_MOD_45148325.jpg/1200px-Challenger_2_Main_Battle_Tank_patrolling_outside_Basra%2C_Iraq_MOD_45148325.jpg" style="width:100%" onclick="window.location.href= '/heavytank/challenger2'" width="300" height="300">
        <h1>Challenger 2</h1>
      </div>
      <div class="w3-third">
        <img src="https://i.ytimg.com/vi/P16by37lPOU/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/churchillguncarrier'" width="300" height="300">
        <h1>Churchill Gun Carrier</h1>
      </div>
    </div>
  {% elif name == 'American' %}
    <div class="w3-main" style="margin-left:300px">
    <div class="w3-hide-large" style="margin-top:83px"></div>
    <div class="w3-row">
      <div class="w3-third">
        <img src="https://i.ytimg.com/vi/s8CgIxGAJTM/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/lighttank/m3stuart'" width="300" height="300">
        <h1>M3 Stuart</h1>
        <img src="https://armyhistory.org/wp-content/uploads/2015/01/DA-SC-98-030351-1024x662.jpg" style="width:100%" onclick="window.location.href= '/lighttank/sheridan'" width="300" height="300">
        <h1>Sheridan</h1>
      </div>
      <div class="w3-third">
        <img src="https://i.ytimg.com/vi/iKW-W8im-2U/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/mediumtank/m26pershing'" width="300" height="300">
        <h1>M26 Pershing</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/M18_hellcat_side.jpg/1200px-M18_hellcat_side.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/hellcat'" width="300" height="300">
        <h1> Hellcat</h1>
      </div>
    </div>
  {% elif name == 'Swedish' %}
    <div class="w3-main" style="margin-left:300px">
    <div class="w3-hide-large" style="margin-top:83px"></div>
    <div class="w3-row">
      <div class="w3-third">
        <img src="https://i.ytimg.com/vi/Eal7XU0cABA/maxresdefault.jpg" style="width:100%" onclick="window.location.href= '/tankdestroyers/strvs1'" width="300" height="300">
        <h1>Strv S1</h1>
      </div>
    </div>
  {% elif name == '' or name == 'other' %}
  <div class="w3-main" style="margin-left:300px">
  <div class="w3-hide-large" style="margin-top:83px"></div>
  <div class="w3-row">
    <div class="w3-third">
      <img src="https://www.warstore.co.uk/ekmps/shops/marlina/images/german-ww2-balkenkreuz-nazi-5-x-3-flag-3188-p.jpg" style="width:100%" onclick="window.location.href= '/nations/german'" width="300" height="300">
      <h1>German</h1>
      <img src="https://www.gettysburgflag.com/media/catalog/product/cache/2/thumbnail/520x416/602f0fa2c1f0d1ba5e241f914e856ff9/u/s/ussr-flag.png" style="width:100%" onclick="window.location.href= '/nations/russian'" width="300" height="300">
      <h1>Soviet(Russian)</h1>
      <img src="https://upload.wikimedia.org/wikipedia/en/4/4c/Flag_of_Sweden.svg" style="width:100%" onclick="window.location.href= '/nations/swedish'" width="300" height="300">
      <h1>Swedish</h1>
    </div>
    <div class="w3-third">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" style="width:100%" onclick="window.location.href= '/nations/british'" width="300" height="300">
      <h1>British</h1>
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" style="width:100%" onclick="window.location.href= '/nations/american'" width="300" height="300">
      <h1>American</h1>
    </div>
  </div>
  {% endif %}

</body>
</html>
